.exam-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  gap: 40px;
  flex-wrap: wrap;
}

/* Colonne gauche */
.exam-left {
  flex: 1;
  max-width: 400px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 10vw;
}

.exam-logo {
  width: 90%;
  height: auto;
  margin-top: -30px;
}

.exam-subtitle {
  font-size: 1.6rem;
  margin: 0;
}

.exam-description {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
}

/* Colonne droite */
.exam-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  
}

.exam-image {
  width: 50%;
  max-width: none;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
  margin-right: 5vw;
  margin-top: -60px; /* Ajuste selon besoin pour qu'elle touche le haut du bandeau */
}

