/* Padding standard du projet */
.project {
  padding: 20px 20px;
  /* ... autres styles */
}

/* Quand le projet est ouvert, on enlève uniquement le padding bottom */
.project.open {
  padding-bottom: 0;
}

.custom-link {
  color: white !important;
  font-weight: normal !important;
  text-decoration: underline;
}

.windmap-logo {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 30px;
  z-index: 2;
}

@media (max-width: 576px) {
  .windmap-logo {
    margin-bottom: 0;
  }
}

.windmap-main {
  width: 50%;
  max-width: 30vw;
  min-width: 250px; /* ✅ taille minimale raisonnable */
  height: auto;
}

/* Sur petits écrans : on adapte le max-width */
@media (max-width: 768px) {
  .windmap-main {
    max-width: 90vw; /* ✅ plus large sur mobile */
  }
}
