.back-to-home-img {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.back-to-home-img:hover {
  opacity: 0.8;
}

@media (max-width: 576px) {
  .back-to-home-img {
    width: 60px;
    height: 60px;
  }
}

a[href^="mailto:"], a[href^="https://www.linkedin.com"] {
  color: #0073b1;
  text-decoration: none;
}

a[href^="mailto:"], a[href^="https://www.linkedin.com"]:hover {
  text-decoration: underline;
}
